---
import Container from "@/layouts/Container.astro"
---
<Container>
    <section class="py-8 flex flex-col gap-4 p-4">
        <h1 class="font-big_caslon_fb text-4xl">We're a studio for digital transformation — from Berlin and Prague, working anywhere.</h1>
        <p class="font-museo_sans font-light text-2xl">No-nonsense web development. Design that resonates. Digital advisory that pays for itself.</p>
    </section>
</Container>