---
import Container from "@/layouts/Container.astro"
import { Icon } from "astro-icon/components"
---
<Container>
    <section class="py-10 flex flex-col gap-4">
        <p class="font-museo_sans">Special Offers</p>
        <div class="bg-twa_yellow p-4 flex flex-col gap-6">
            <Icon name="qcircle-pair" class="size-12"/>
            <div class="flex flex-col gap-2">
                <p class="font-museo_sans text-3xl">Website<br/>Starter Packs</p>
                <p class="font-museo_sans text-xs">Winter 2023/2024</p>
            </div>
            <p class="font-museo_sans font-light text-sm">This Autumn, The Weather is building a limited number of high-quality websites for small and medium-sized businesses — 5-page, designed from scratch, built with WordPress + Elementor Pro, launch within four weeks — for a fixed price, heavily discounted of 3.500€.</p>
            <div class="justify-end flex">
                <Icon name="arrow-right" class="size-8"/>
            </div>
        </div>
        <div class="bg-twa_grey p-4 flex flex-col gap-6">
            <Icon name="qcircle-pair" class="size-12 transform -scale-x-100"/>
            <div class="flex flex-col gap-2">
                <p class="font-museo_sans text-3xl">Pro Bono <br/>Website</p>
                <p class="font-museo_sans">Apply before February 29</p>
            </div>
            <p class="font-museo_sans font-light text-sm">Are you a non-profit striving to make a difference in the world? Do you need support amplifying your message and engaging with your audience? We are here to help.</p>
            <p class="font-museo_sans font-light text-sm">As a leading web development agency, we have decided to launch an initiative to create a compelling website for a deserving non-profit for free.</p>
            <div class="justify-end flex">
                <Icon name="arrow-right" class="size-8"/>
            </div>
        </div>
    </section>
</Container>