---
import { Icon } from "astro-icon/components"
---
<section class="h-screen relative">
    <section class="bg-zinc-200 w-full h-full">
        <video
            src="/video/website-video-hero.webm"
            class="w-full h-full object-cover object-center"
            autoplay
            loop
        />
    </section>
    <div class="flex flex-col absolute bottom-4 items-center w-full">
        <span class="text-xs font-museo_sans">More</span>
        <Icon name="arrow-more" class="size-8"/>
    </div>
</section>
