---
import Container from "@/layouts/Container.astro"
---
<section class="py-10">
    <Container>
        <p class="font-museo_sans">How we work</p>
        <h2 class="font-big_caslon_fb text-4xl">We like to keep things simple and work fast.</h2>
        <p class="font-museo_sans text-sm font-light">We value multidisciplinary expertise. This allows us to keep teams small and get things done. Our average turnaround time for a websites is eight weeks.
        <br/>We are a fully remote team of creative professionals with diverse backgrounds, skills and experience.
        <br/>Our roots are in Berlin and Prague. We now have a team spread across places including Barcelona, Lisbon, Kiev, Jerusalem, Buenos Aires and Cape Town.</p>
    </Container>
</section>
